/*Author: Alex */

/* Variables for colors. */
:root {
    --bgColor: #FFFfff;
    --descriptionBG: #FFFfff;
    --entryBorder: #cccccc;
    --entryColor: #FFFfff;
    --linkColor: #0c7307;
    --linkHover: #0c7307;
    --navbarColor: #202020;
    --navbarLink: #d8d6d7;
    --navbar-linkBG: #000000;
    --navbarLinkBorder:#0c7307;
    --textColor: #000000;
    --titleColor: #ffffff;
}

*{
    font-family: helvetica;
    font-size: 14px;
    letter-spacing: .25px;
    margin-bottom: 5px;
    text-align: left;
}

/* Link formatting */
a {
    color: var(--linkColor);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: var(--linkHover);
}

body {
    line-height: 1.5;
    background-color: var(--bgColor)
    color: var(--textColor);
}

footer{
  text-align: center;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size: 18px;
    font-weight: bold;
}

h3{
  font-size: 16px;
  font-weight: bold;
}

img{
  object-fit: contain;
  display: block;
  margin: auto;
}

/*Settings wrapping text. */
img.wrap {
  float: left;
  margin:auto;
}

/*Formats images to be centered and small for project pages. */
img.resizeFigures {
  width: 25%;
  height: 25%;
  margin: auto;
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /*Can't center if width is 100%*/
}

p{
  text-align: left;
}

/*HTML5 no longer supports center tag, this is to address this. */
#center{
  text-align: center;
}

#content{
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 20cm;
  font-size: 20px;
}

#description {
    margin-top:10px;
    display: inline-block;
    padding:8px 10px;
    text-align: left;
    width: 220px;
    opacity: .7;
    background-color: var(--descriptionBG);
}

#entries{
    width: 700px;
    padding:10px;
    text-align:justify;
    margin-bottom:25px;
    background-color: var(--entriesColor);
    border:1px solid var(--entryBorder);
}

#links {
    /*position: fixed;*/
    font-size: 5pt;
    line-height: 15px;
    /*z-index: 2;*/
    width: 99%;
    /*display: inline-block;*/
    letter-spacing: .1 px;
}

#links a {
    width: 70px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--navbarLink);
    background-color: var(--navbarLinkBG);
    border: 2px solid var(--navbarLinkBorder);
    padding: 5px;
}

#links a:hover {
    font-weight: bold;
    font-style: italic;
}

#posts {
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width: 15cm;
    letter-spacing: 0px;
}

#nav {
    position:fixed;
    top:0px;
    left:0px;
    height: 7%;
    width:100%;
    overflow: hidden;
    background-color: var(--navbarColor);
    text-align: center;
}

#navbar {
    margin-right: 10px;
    width: auto;
    /*display: inline-block;*/
}

#title {
    width:240px;
    text-align: center;
    margin-left: auto;
    font-size: 2em;    /*The “em” is a scalable unit that is used in web document media. An em is equal to the current font-size. */
    font-weight: bold;
    color: var(--titleColor);
}

#title:hover {
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px var(--linkColor);
}

/*If an element is taller than the element containing it,
and it is floated, it will overflow outside of its container.
Use the "clearfix" hack to fix this*/
.clearfix {
  overflow: auto;
}

/*!
 * Generated using the Bootstrap Customizer (https://getbootstrap.com/docs/3.4/customize/)
 */
/*!
 * Bootstrap v3.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

b,
strong {
  font-weight: bold;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0;
}

.img-responsive,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
